%p Age:
=@personal_data_set.age
%p Gender:
=@personal_data_set.gender
%p Height:
=@personal_data_set.height(in: 'meters', as_string: true)
%p Height:
=@personal_data_set.height(in: 'feet-and-inches', as_string: true)
%p Height:
=@personal_data_set.height(in: 'inches', as_string: true)
