%p Age:
=@personal_data.age
%p Gender:
=@personal_data.gender
%p Height:
=@personal_data.height(in: 'meters', as_string: true)
%p Height:
=@personal_data.height(in: 'feet-and-inches', as_string: true)
%p Height:
=@personal_data.height(in: 'inches', as_string: true)
